{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Facturas: {% block title %}Welcome{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" /> -->
</head>

<body>
<div id="wrapper">
    <h1><a href="{% url 'administracion:home' %}">Facturas</a></h1>

    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>
</div><!-- wrapper -->

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

{% block javascript %}{% endblock %}

</body>
</html>
